*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background: #fff;
    width: 100%;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 10px;
    margin-top: 60px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #555;
}
.product-btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.product-btn:hover{
    background: #555;
}
.header{
    background: radial-gradient(#fff, #ffd6d6);
}
/*
.header .row{
    margin-top: 70px;
}
*/
.categories{
    margin: 50px 0;
}
.col-3{
    text-align: center;
    flex-basis: 20%;
    min-width: 220px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.5s;
    position: relative;
}
.col-3 img{
    width: 90%;
    padding: 5px;
}
.category-name {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333; /* Change this color as per your preference */
}
.col-3:hover{
    transform: translateY(-5px);
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    text-align: center;
    flex-basis: 20%;
    padding: 10px;
    min-width: 160px;
    margin: 20px 2px;
    transition: transform 0.5s;
    border-radius: 5px;
}
.col-4 img{
    width: 90%;
    padding: 5px;
}
.title{
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 50px;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 200px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 30px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 60px;
}
small{
    color: #555;
}
.testimonial{
    padding-top: 40px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img {
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;

}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 30px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
.brands{
    margin: 50px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
.footer{
    background: #111;
    color: #c8c8c8;
    font-size: 14px;
    padding: 40px 0 20px;
}
footer p{
    color: #c8c8c8;
}
.footer h3{
    color: #fff;
    margin-bottom: 10px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 50px;
    margin-bottom: 10px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 5;
    text-align: center;
}
.footer-col-2 img{
    width: 150px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 5px;
}
ul a i{
    font-size: 20px;
    margin: 0 3px;
}
.app-logo{
    margin-top: 10px;
}
.app-logo img{
    width: 120px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.fa-solid.fa-bars{
    margin-left: 10px;
    display: none;
}

.single-product .col-2 img{
    padding: 12px;
}
.single-product .col-2{
    padding: 10px;
}
.single-product h4{
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: #555;
    margin-bottom: 25px;
}
.heading h1::after{
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #ff523b;
}
.heading p{
    font-size: 18px;
    margin-bottom: 10px;
}
.about-container{
    width: 90%;
    margin: 30px auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    margin:0 20px;
    overflow: hidden;
}
.about-image img{
    max-width: 100%;
    border-radius: 10px;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
}
.social-links {
    margin: 10px 0;
}
.social-links a{
    display: inline-flex;
    width: 35px;
    height: 35px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
    background-color: #333;
    transition: all 0.4s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.social-links a i{
    margin: auto;
}

.social-links a:hover{
    background-color: #555;
    transform: translateY(-3px);
}
.contact-container{
    width: 80%;
    margin: 30px auto;
    text-align: center;
}
.contact-container h1{
    font-size: 50px;
    color: #555;
    margin-bottom: 25px;
}
.contact-container h1::after{
    content: "";
    width: 390px;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #ff523b;
}
.contact-container p{
    margin-bottom: 30px;
}
.contact-box {
    background: radial-gradient(circle, #fff, #ffd6d6);
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
}

.contact-left, .contact-right {
    padding: 40px;
    box-sizing: border-box;
}

.contact-left {
    flex: 1 1 60%;
    padding: 40px 60px;
    background: #fff;
}

.contact-right {
    flex: 1 1 40%;
    background: #ff523b;
    color: #fff;
    align-items: start;
    justify-content: start;
    text-align: start;
}

.contact-right h3 {
    margin: 0;
}

.contact-left h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    width: 100%;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group {
    flex: 1 1 45%;
    min-width: 200px;
    margin: 10px 5px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border 0.3s ease;
}

.input-group input:focus {
    border-color: #ff523b;
    outline: none;
}
textarea{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border 0.3s ease;
}
textarea:focus {
    border-color: #ff523b;
    outline: none;
}

.contact-right h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}

/* media querry for menu */
@media only screen and (max-width: 800px) {
    nav ul{
        position: absolute;
        top: 80px;
        left: 0;
        background: #fff;
        width: 100%;
        height: 60%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom:15px;
    }
    .fa-solid.fa-bars{
        display: block;
        cursor: pointer;
    }
}
/* media querry for less than 600 screen size */
@media only screen and (max-width: 800px){
    .row{
        text-align: center;
    }
    .col-2{
        flex-basis: 100%;
    }
    .col-4{
        flex-basis: 40%;
        min-width: 160px;
    }
    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
        flex-basis: 100%;
    }
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 5px;
    }
    .about-container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .contact-container h1{
        font-size: 36px;
    }
    .contact-container h1::after{
        width: 290px;
    }
}