{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF -8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Product</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?
        family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>

        <!-- Header -->
        <div class="header">
            <div class="navbar">
                <div class="logo" style="display: flex; justify-content: center; align-items: center;">
                    <img src="/images/logo.png" width="40px" height="40px" style="margin: 0 2px;">
                    <h2 style="color: #555;">Easy Bakers and Confectioners LTD</h2>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
                <i class="fa-solid fa-bars" onclick="menutoggle()"></i>
            </div>
        </div>

        <!--Single product details-->
        <div class="small-container single-product" style="top: 16px;">
            <!-- templates/home/product_details.html -->
            <div class="row">
                <div class="col-2">
                    <img src="{{ product.imageURL }}" style="padding: 10px;">
                </div>
                <div class="col-2">
                    <p>Easy Bakers and Confectioners Ltd</p>
                    <h1>{{ product.name }}</h1>
                    <h4>shs {{ product.price }}</h4>
                    <a href="/contact" class="product-btn">Contact to order</a>
                    <h3>Product Details:</h3>
                    <br>
                    <p>{{ product.description }}</p>
                </div>
            </div>

        </div>
        <!--title-->
        <div class="small-container">
            <div class="row">
                <h2 style="margin-bottom: 20px;">Featured</h2>
            </div>
        </div>
        <!--products -->
        <div class="small-container" style="margin-bottom: 40px;">
            <div class="row">
                {% for product in products %}
                <div class="col-4">
                    <img src="{{product.imageURL}}">
                    <h4>{{product.name}}</h4>
                    
                    <p>Shs {{product.price}}</p>
                    <a href="{% url 'productDetails' product.id %}" class="product-btn">View</a>
                </div>
                {% endfor %}
            </div>
        </div>
       
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Easy Bakers and Confectioners ltd</h3>
                        <div class="app-logo">
                            <img src="/images/logo.png">
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <img src="/images/IMG_0042.png">
                        <p style="color: #c8c8c8;">
                            Take your taste buds for a spin. Freshly baked every morning.
                        </p>
                    </div>
                    <div class="footer-col-3">
                        <h3>Contacts</h3>
                        <ul>
                            <div style="display: flex; justify-content: center;">
                                <i class="fas fa-map-marker-alt" style="margin-right: 5px;"></i>
                                <p style="color: #c8c8c8;">Kampala, old port-bell road</p>
                            </div>
                            <div style="display: flex; justify-content: center;">
                                <i class="fas fa-phone" style="margin-right: 5px;"></i>
                                <p style="color: #c8c8c8;">+256759443880</p>
                            </div>
                            <div style="display: flex; justify-content: center;">
                                <i class="fas fa-phone" style="margin-right: 5px;"></i>
                                <p style="color: #c8c8c8;">+256772505622</p>
                            </div>
                            <div style="display: flex; justify-content: center;">
                                <i class="fas fa-envelope" style="margin-right: 5px;"></i>
                                <p style="color: #c8c8c8;">easybakers222@gmail.com</p>
                            </div>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Follow us on</h3>
                        <ul>
                            <a href=""><i class="fab fa-instagram" style="color: #c8c8c8;"></i></a>
                            <a href=""><i class="fab fa-x" style="color: #c8c8c8;"></i></a>
                            <a href=""><i class="fab fa-tiktok" style="color: #c8c8c8;"></i></a>
                            <a href=""><i class="fab fa-facebook" style="color: #c8c8c8;"></i></a>
                        </ul>
                    </div>
                </div>
                <hr>

                <p class="copyright">@Vellfar 2024</p>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/f8a9fd1092.js" crossorigin="anonymous"></script>

        <script>
            var MenuItems = document.getElementById("MenuItems");

            MenuItems.style.maxHeight = "0px";

            function menutoggle(){
                if(MenuItems.style.maxHeight == "0px")
                    {
                        MenuItems.style.maxHeight = "200px";
                    }
                else
                    {
                        MenuItems.style.maxHeight = "0px";
                    }
            }
        </script>
    </body>
</html>
{% endblock content %}